extends ../base.pug

block content
    h4 title : #{video.title}
    video(src="/" + video.fileUrl, controls)
    div
        button#play Play
        button#mute Mute
        span#time 00:00/00:00
        input(type="range",step="0.1", min="0", max="1")#volume

    //- h4 description : #{video.description}
    //- h4 owner : uploaded by 
    //-     a(href=`/users/${video.owner._id}`)=video.owner.name
    //- h4 createdAt : #{video.createdAt.toLocaleDateString("en-US", { weekday: "long", year: "numeric", month: "long", day: "numeric" })}
    //- h4 views : #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}
    //- h4 rating : #{video.meta.rating}/5.
    //- h4 hashtags : #{video.hashtags.join(", ")}

    //- if String(video.owner._id) === String(user._id)
    //-     a(href=`${video.id}/edit`) Edit Video &rarr;
    //-     //- 이경로는 절대경로인가 상대경로인가?
    //-     br
    //-     a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
    script(src="/static/js/videoPlayer.js")
