//- 인자를 받아서 사용할 수 있음
mixin video(data)
           
    a(href=`/videos/video/${data.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=data.title
            div.video-mixin__meta
                span #{data.owner.name} • 
                span #{data.meta.views} #{data.meta.views === 1 ? "view" : "views"} • 
                span #{data.createdAt.toLocaleDateString("en-US", { weekday: "long", year: "numeric", month: "long", day: "numeric" })}
            div
                each hashtag in data.hashtags
                    span.video-mixin__hashtags=hashtag 